@{
    ViewData["Title"] = "Index";
}
<h1>TP 10 - NetflixTrucho</h1>
<h2>Slogan</h2>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serie Título</title>
    <link rel="stylesheet" href="styles.css"> <!-- Agrega tus estilos CSS aquí -->
</head>
<!--Se recorren las series con un foreach-->
<body>
@foreach(Series s in ViewBag.ListaSeries){

  <div class="card" style="width: 18rem;">
  <img src="@s.ImagenSerie" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@s.Nombre</h5>
    <p class="card-text">@s.Sinopsis</p>

    <button type="button"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="MostrarActores(@s.IdSerie)">
        Ver Info Actores en Modal
        </button>

        <button type="button"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="MostrarTemporadas(@s.IdSerie)">
        Ver Info Temporadas en Modal
        </button>

        <button type="button"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="MostrarInfoSerie(@s.IdSerie)">
        Ver más Info de la Serie en Modal
        </button>
  </div>
</div>
}
</body>

<!--ES UN SOLO MODAL PARA TANTO TEMPORADAS COMO ACTORES COMO INFO SERIE.-->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Nombre">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="" id="">
        <div id="Nombre"></div>
        <div id="Texto"></div>
        <div id="Num"></div> <!--Ver como hacer para mostrar los ids sin que sea uno en especifico-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</html>
